# Ignore node_modules for both frontend and backend
node_modules/

# Ignore build files for frontend
/facebrain/build/

# Ignore build files for backend (if any)
/facebrainapi/build/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore OS-specific files
Thumbs.db  # Windows

robofriends/
